<div class="container-fluid">
  <br>
  <article>
    <strong>Replying to:</strong>
    {{selectionText}}
  </article>
  <fieldset>
    <legend>Reply type:</legend>
    <div class="grid">
      <label>
        <input type="checkbox" name="english" checked />
        Formal
      </label>
      <label>
        <input type="checkbox" name="french" checked />
        Critic
      </label>
      <label>
        <input type="checkbox" name="mandarin" />
        Some..
      </label>
    </div>
    <br>
    <label for="bio">Key words:</label>
    <textarea
      name="bio"
      placeholder="Key words"
      aria-label="Key words"
    >
    </textarea>
  </fieldset>
  <button>Generate</button>
</div>
